body {
  font-family: Arial;
  font-size: 10pt;
}
.blue-row .x-grid3-cell-inner{ color:blue; }
.gray-row .x-grid3-cell-inner{ color:gray; }
.red-row .x-grid3-cell-inner{ color:red; }
.green-row .x-grid3-cell-inner{ color:green; }

/* icons */
.historic-icon {
  background: url(icons/history.png) no-repeat !important; /* 0 6px no-repeat !important; */
}
.info-icon {
  background: url(icons/info.png) no-repeat !important;
}
.password-icon {
  background: url(icons/password.png) no-repeat !important;
}
.exit-icon {
  background: url(icons/exit.png) no-repeat !important;
}
.new-icon {
  background: url(icons/filenew.png) no-repeat !important;
}
.edit-icon {
  background: url(icons/edit.png) no-repeat !important;
}
.eraser-icon {
  background: url(icons/eraser.png) no-repeat !important;
}
.ok-icon {
  background: url(icons/ok.png) no-repeat !important;
  width: 13px;
  height: 13px;
}
.cancel-icon {
  background: url(icons/cancel.png) no-repeat !important;
  width: 13px;
  height: 13px;
}