{% extends 'base.html' %}

{% block js %}
Ext.onReady( function() {

  var loginForm = new Ext.FormPanel({
    url: '.',
    frame: true,
    standardSubmit: true,
    items: [{
      xtype: 'textfield',
      fieldLabel: '{{ form.username.label }}',
      name: '{{ form.username.name }}',
    },{
      xtype: 'textfield',
      inputType: 'password',
      fieldLabel: '{{ form.password.label }}',
      name: '{{ form.password.name }}'
	},{
      xtype: 'hidden',
	  value: 'd8f5150fe2991777d1ca317206c80095',
	  name: 'csrfmiddlewaretoken'
	}],
    buttons: [{
      text: 'Ok',
      handler: function() {
        loginForm.getForm().submit({
          method:'POST',
          waitTitle:'Connecting',
          waitMsg:'Sending data...',
          success: function(f,a) {
            Ext.Msg.alert('Success', 'It worked');
          },
          failure: function(f,a) {
            Ext.Msg.alert('Warning', 'Error');
          }
        });

      }
    }]
  });

  var win = new Ext.Window({
    title:'Login',
    modal: false,
    closable: false,
    resizable: false,
    layout: 'form',
    width: 300,
    height: 130,
    items: loginForm,
  }).show();
  
  var nav = new Ext.KeyNav(loginForm.getForm().getEl(), {
      'enter': function(e) {
          this.getForm().submit();
      },
      scope: loginForm,
  });


  win.add(loginForm);
  win.show();

  {% if form.errors %}
    Ext.Msg.alert('Error','<span style="color:red">Usuário ou senha incorretos.</span>');
  {% endif %}
});

{% endblock %}

{% block main %}

{% endblock %}
