<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Xsol</title>

{% block static %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/js/extjs/resources/css/ext-all.css">
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.meio.mask.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/extjs/ext-jquery-adapter.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}/js/extjs/ext-base.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}/js/extjs/ext-all.js"></script>

{% endblock %}

<style type="text/css">
  {% block css %}{% endblock %}
</style>

<script type="text/javascript">

  {% block js %}

  {% endblock %}

  Ext.onReady(function() {
    Ext.BLANK_IMAGE_URL = '{{ MEDIA_URL }}/js/extjs/resources/images/default/s.gif';

    {% block js_init %}

    {% endblock %}
  });
</script>

</head>
<body>

{% block main %}{% endblock %}

</body>
</html>
