{% extends 'base_site.html' %}

{% block static %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/apps/money.js"></script>
{% endblock %}

{% block js_init %}
    {{ block.super }}
    var params_inicial = {
        id: 'Inicial',
        title: '',
        datastoreUrl: URL_MONEY_LIST,
    };
    /*
     * Quando esse template é carregado pela view index, a função showGridLancamento()
     * é chamada e cria o grid na viewport center
     */
    showGridLancamento(params_inicial);
{% endblock %}

{% block main %}

<div id="divCaixa" class="x-hide-display">
    <ul>
    {% for item in caixas %}
        <li>&bull; <a href="#" onclick="lancamentosPorCaixa({{ item.id }})">{{ item }}</a></li>
    {% endfor %}
    </ul>
</div>

<div id="divTags" class="x-hide-display">
    <ul>
    {% for item in tags %}
        <li>&bull; <a href="#" onclick="lancamentosPorTag('{{ item.slug }}')">{{ item }}</a></li>
    {% endfor %}
    </ul>
</div>

<div id="divCredores" class="x-hide-display">
    <ul>
    {% for item in credores %}
        <li>&bull; <a href="#" onclick="lancamentosPorCredor({{ item.id }})">{{ item.credor }}</a></li>
    {% endfor %}
    </ul>
</div>

<div id="divFormasPagamento" class="x-hide-display">
    <ul>
    {% for item in formaspagamento %}
        <li>&bull; <a href="#" onclick="lancamentosPorFormaPagamento({{ item.id }})">{{ item }}</a></li>
    {% endfor %}
    </ul>
</div>

<div id="divInicio" style="padding:10px;">
    <ul>
        <li>usu&aacute;rio: <b>{{ user }}</b> [<a href="{% url logout %}">sair</a>]</li>
        <li>&uacute;ltimo acesso: <b>{{ user.last_login|date:"D, d \de M \de Y" }}</b></li>
        <li>saldo: <b>{{ saldo_total }}</b></li>
    </ul>
    
    <br>
    <p><a href="/admin/" target="_blank">cadastrar caixa, credor e forma de pagamento</a></p>
    <br>
    
    {% if contas_nao_pagas %}
        <table cellpadding="4" cellspacing="0" border="0">
            <tr>
                <td width="100" bgcolor="gray">Vencimento</td>
                <td width="400" bgcolor="gray">Descri&ccedil;&atilde;o</td>
                <td width="90" bgcolor="gray">Valor</td>
            </tr>
            {% for item in contas_nao_pagas %}
            <tr bgcolor="{% cycle '#efefef' 'white' %}">
                <td>{{ item.vencimento|date:"d/m/Y" }} </td>
                <td>{{ item.desc }} </td>
                <td>R$ {{ item.valor|floatformat }} </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>N&atilde;o h&aacute; contas &agrave; pagar.<br></p>
    {% endif %}
</div>

{% endblock %}
